.common-section{
    background-color: #ffffff;
    padding: 10px 10px;
    margin-left: 5rem;
    margin-top: 5rem;
    justify-content : center;
    /* display: flex; */
  align-items: center;
  /* border: 1px solid #dddddd;
  border-radius: 3px; */
  width: 50%;
}
.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.menu-section{
  padding-top: 5rem;
}

.item-section{
  background: #ffffff;
  padding-top: 5rem;
  padding-left: 0rem;
  margin-bottom: 20px;
}